@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;  /* pushes footer down */
}
jsx
Copy code


.brand-name {
  margin-left: 10px;
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  font-size: 1.2rem;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
.navbar li {
  color: black;
}
.nav-pills .nav-link {
  color: black !important;
  border-radius: 0 !important;
}

.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: black !important;
  border-bottom: 3px solid black;
}

.home {
  min-width: 80%;
  margin-top: -120px;
}

.contact-form {
  width: 80%;
  margin-left: 100px;
  height: 520px;
}
.contact-form div {
  width: 80%;
}

.btn a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.hire {
  background-color: orange;
}
.about {
  text-align: justify;
}
.github-link {
  text-decoration: none;
}
.card {
  box-shadow: 10px 10px 8px #888888;
}
.about {
  box-shadow: 10px 10px 8px #888888;
}
.about p{
  text-align: left;
  word-wrap: break-word;
}
/* .about-btn{
  border-radius: 50%;
} */
.contact-icons {
  font-size: 2rem;
}
.service{
  width: 20rem;
}

@media screen and (max-width: 480px) {
  .contact-form {
    margin: 0 30px;
    width: 450px;
  }
  .hero-img {
    width: 400px;
    height: 300px;
    margin-left: -25px;
  }
  .container ul li {
    font-size: 1rem;
    margin: 0px -8px;
  }
  .service{
    margin-left: 20px;
  }
}

.skill-table{
  font-size:1.5rem;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 10px;
}
.skill{
  /* border: 1px solid black; */
  height: 430px;
  box-shadow: 10px 10px 5px grey;
}

.skill-table:hover{
  height: 400px;
}

.cert-card .cert-overlay {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.cert-card:hover .cert-overlay {
  opacity: 1;
}
.cert-card {
  height: 300px;   /* fix the card size */
}

.cert-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.timeline {
  position: relative;
  margin: 20px 0;
  padding-left: 30px;
  border-left: 3px solid #0d6efd; /* Bootstrap primary color */
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  position: absolute;
  left: -12px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.timeline-content {
  margin-left: 20px;
  background: #fff;
}